---
layout: null
---
<h1>List of Awesome KorGE Bundles</h1>
<p>API version: <a href="/list.json">list.json</a>. Add <a target="_blank" href="https://github.com/korlibs/awesome.korge.org"></a>your own resources</p>.</p>
<ul>
{% for bundle in site.bundles %}
<li for="{{ bundle.id }}">[{{ bundle.category }}] {{ bundle.title }}
<div class="content">
    {% if bundle.icon %}
    <p><img src="/images/{{ bundle.icon }}" /></p>
    {% endif %}
    {{ bundle.content }}
</div>
<div id="{{ bundle.id }}">
<pre><code>
korge {
    bundle({{ bundle.bundle_url | jsonify }})
{% for bvar in bundle.required_vars %}    config("{{ bvar }}", "...")
{% endfor %}
}
</code></pre>
</div>
</li>
{% endfor %}
</ul>